<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles/style.css">
        <title>Document</title>
    </head>

    <body>
        <div>
            <form action="/newlist" method="POST">
                <input type="text" name="title">
                <button type="submit">Add new list</button>
            </form>
        </div>
        <div class="main-container">
            <% lists.forEach(element => { %>
            <div class="list">
                <div class="list-title">
                    <h3><%= element.title %></h3>
                </div>
                <div class="list-body">
                    <% element.items.forEach(item => { %>
                    <div id=<%= item.id %>><%= item.value %></div>
                    <% }) %>
                </div>
                <div>
                    <form action="/additem">
                        <input type="text">
                    </form>
                </div>
            </div>
            <% }) %>
        </div>
    </body>

    <footer></footer>

</html>